.links::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.links:hover::after{
  width: 100%;
}

.products {
  margin-top: 2%;
  margin-left: 4%;
  padding-bottom: 2rem;
}

.product-img {
  height: 20rem;
  width: 24rem;
  border-radius: 30px;
}

.products h1 {
  font-family: 'Playfair Display SC', serif;
  color: #fff;
  text-align: center;
  margin-left: -6%;
  font-size: 62px;
}

.products h4 {
  color: #fff;
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  margin-left: -20%;
  font-size: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card button {

}
